<div class="card">
  <div class="card-header text-white bg-info">
    Connectez-vous
  </div>
  <div class="card-body">
    <form name="loginForm" [formGroup]="loginForm">
      <div class="form-row">
        <div class="col-md-6 mb-3">
          <label>Email</label>
          <input type="text" class="form-control" placeholder="Email"
                 formControlName="email"
                 [ngClass]="{'is-invalid': loginForm.get('email')?.touched && !loginForm.get('email')?.valid}">
          <div class="invalid-feedback">
                    <span *ngIf="!loginForm.controls['email'].valid">
                        Mettre une E-mail valide
                    </span>
          </div>
        </div>
      </div>


      <div class="form-row">
        <div class="col-md-6 mb-3">
          <label>Password</label>
          <input type="password" class="form-control" placeholder="Mot de passe"
                 formControlName="password" matInput [type]=" hide ? 'text' : 'password'" required />
          <button  mat-icon-button matSuffix (click)="showPassword($event)" [attr.aria-label]="'Hide Password'"
                   [attr.aria-pressed]="hide">
            <mat-icon>
              {{hide ? 'visibility_off' : 'visibility'}}
            </mat-icon>
          </button>
          <mat-error *ngIf="!loginForm.controls['password'].valid">
            Mettre un mot de passe valide
          </mat-error>
        </div>

      </div>

      <div class="text-right">
        <button class="btn btn-info" type="submit">
          Valider
        </button>
      </div>
    </form>
  </div>
</div>




