<div class="card">
  <div class="card-header text-white bg-info">
    S'enregistrer
  </div>
  <div class="card-body">
    <form name="form" (ngSubmit)="onSubmit()" #f="ngForm" novalidate>

      <div class="form-row">
        <div class="col-md-6 mb-3" [formGroup]="registerFormOne">
          <label>Nom</label>
          <input type="text" class="form-control" placeholder="Nom" formControlName="lastName"
            [ngClass]="{'is-invalid': registerFormOne.get('lastName')?.touched && !registerFormOne.get('lastName')?.valid}">
            <div class="invalid-feedback">
              <span *ngIf="registerFormOne.get('lastName')?.errors?.required">
                Entrez votre nom
              </span>
  
            </div>
        </div>
        <div class="col-md-6 mb-3" [formGroup]="registerFormOne">
          <label>Prenom</label>
          <input type="text" class="form-control" placeholder="Prenom" formControlName="firstName"
          >


        </div>
      </div>
      <div class="form-row"  [formGroup]="registerFormOne" >
        <div class="col-md-6 mb-3" formGroupName="emailGroup"  >
          <label>E-Mail</label>
          <input type="email" class="form-control" placeholder="Email" formControlName="email">

        </div>
        <div class="col-md-6 mb-6" formGroupName="emailGroup">
          <label for="confirEmailId">Confirmer l'E-mail</label>
          <input type="email" class="form-contol" id="confirEmailId" placeholder="Confirmer l'email"
            formControlName="confirmEmail">

        </div>

      </div>



      <div class="form-row"  [formGroup]="registerFormOne">
        <div class="col-md-6 mb-3" formGroupName="passwordGroup">
          <label>Mot de passe</label>
          <input type="password" class="form-control" placeholder="Mot de passe" formControlName="password"
           >

        </div>
        <div class="col-md-6 mb-3" formGroupName="passwordGroup">
          <label for="confirPasswordId">Confirmer le mot de passe</label>
          <input type="password" class="form-contol" id="confirPasswordId" placeholder="Confirmer le mot de passe"
            formControlName="confirmPassword">


        </div>

      </div>
      <div class="text-right">
        <button class="btn btn-info" type="submit">
          Valider
        </button>
      </div>

    </form>
  </div>
</div>